<aside class="sidebar" data-sidebar>

    <div class="sidebar-info">

      <figure class="avatar-box">
        <img src="./assets/images/MyProfile.jpg" alt="Jiaze Cai" width="80">
      </figure>

      <div class="info-content">
        <h1 class="name" title="Jiaze Cai">Jiaze Cai</h1>

        <p class="title">University of California, Berkeley<br>
          Master of Engineering<br>
          Major: Mechacial Engineering <br>

        </p>
      </div>

      <button class="info_more-btn" data-sidebar-btn>
        <span>Show Contacts</span>

        <ion-icon name="chevron-down"></ion-icon>
      </button>

    </div>

    <div class="sidebar-info_more">

      <div class="separator"></div>

      <ul class="contacts-list">

        <li class="contact-item">

          <div class="icon-box">
            <ion-icon name="mail-outline"></ion-icon>
          </div>

          <div class="contact-info">
            <p class="contact-title">Email</p>

            <a href="mailto:jiaze12@tamu.edu" class="contact-link">jiaze12@tamu.edu</a>
            <a href="mailto:jiaze12@berkeley.edu" class="contact-link">jiaze12@berkeley.edu</a>
            <!-- <a href="mailto:jasper18759917159@gmail.com" class="contact-link">jasper18759917159@gmail.com</a> -->
          </div>

        </li>

        <li class="contact-item">

          <div class="icon-box">
            <ion-icon name="phone-portrait-outline"></ion-icon>
          </div>

          <div class="contact-info">
            <p class="contact-title">Phone</p>

            <a href="tel:+17135174168" class="contact-link">+1 (713) 517-4168</a>
          </div>

        </li>

        <!-- <li class="contact-item">

          <div class="icon-box">
            <ion-icon name="calendar-outline"></ion-icon>
          </div>

          <div class="contact-info">
            <p class="contact-title">Birthday</p>

            <time datetime="1982-06-23">June 23, 1982</time>
          </div>

        </li> -->

        <li class="contact-item">

          <div class="icon-box">
            <ion-icon name="location-outline"></ion-icon>
          </div>

          <div class="contact-info">
            <p class="contact-title">Location</p>

            <address>Berkeley, California, USA</address>
          </div>

        </li>

      </ul>

      <div class="separator"></div>

      <!-- <ul class="social-list">

        <li class="social-item">
          <a href="#" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>

        <li class="social-item">
          <a href="#" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li class="social-item">
          <a href="#" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>

      </ul> -->

    </div>

</aside>
